Agent_gym-sheets.json
{
  "name": "Agent_gym-sheets",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "=Você é o assistente pessoal de treino do João, um atleta \n\nVocê tem acesso a uma planilha com o cronograma semanal de treinos dele.\nA planilha tem os treinos organizados por dia da semana (Segunda, Terça, Quarta, Quinta, Sexta).\nCada linha contém o grupo muscular e os exercícios do dia.\n\nREGRAS:\n- Sempre que o João perguntar sobre treino, busque os dados na planilha\n- Entenda linguagem informal: \"treino de hoje\", \"o que rola hoje\", \"treino de segunda\" são todos pedidos válidos\n- Hoje é {{$now.toFormat('cccc', { locale: 'pt-BR' })}}\n- Responda de forma curta, clara e motivadora em português\n- Se ele pedir um dia específico, busque aquele dia\n- Se ele pedir \"hoje\", use o dia atual automaticamente\n- Não peça confirmações desnecessárias, só responda\n\nExemplos de pedidos que você deve entender:\n\"treino de hoje\" → busca o dia atual\n\"o que treino amanhã\" → busca o próximo dia\n\"treino de perna\" → busca qual dia tem perna\n\"segunda\" → busca segunda-feira"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        192,
        0
      ],
      "id": "49c8134f-ee6b-4e50-888f-bec990487e44",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        352
      ],
      "id": "0caad4c3-4ddf-42cc-8c73-2f117e7f9df7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        192,
        192
      ],
      "id": "996c57f6-7640-4758-ae1e-522133769ef6",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "jVZiCzNOqjVFkKlt",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NRP3o1z7-VLmoRH8pJ6uJ5L2amhPwWLNaAUJ7a102Oo",
          "mode": "list",
          "cachedResultName": "Rotina de Treino Semanal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NRP3o1z7-VLmoRH8pJ6uJ5L2amhPwWLNaAUJ7a102Oo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Rotina de Treino Semanal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NRP3o1z7-VLmoRH8pJ6uJ5L2amhPwWLNaAUJ7a102Oo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        336,
        512
      ],
      "id": "53b8d05c-3339-49be-8280-461a33899166",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9c2EZHXFjWCuUw8x",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        0
      ],
      "id": "752e64e9-dce9-44a2-b005-30ce33fddbea",
      "name": "Send a text message",
      "webhookId": "516aa5bc-2d96-43b1-85af-592d095bc43e",
      "credentials": {
        "telegramApi": {
          "id": "b1jeNSoxXgzmrIgg",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "22f5e640-b694-4ffb-9a76-cceb7d181fce",
      "name": "Telegram Trigger",
      "webhookId": "e9b6a39b-447b-40aa-88b6-b352173f54b6",
      "credentials": {
        "telegramApi": {
          "id": "b1jeNSoxXgzmrIgg",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d6cbb86d-8d90-4509-a71d-3cb2d67f6ea6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cc25e9b21db0bb808ac72e9e199f51088e8cccafb234a76f1477c2cc5b261078"
  },
  "id": "EESUlVUrrxhiT4Lx",
  "tags": []
}