Agente 1 - Integrado via Link na Web.json
{
  "name": "Agente 1 - Integrado via Link na Web",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Ola! 👋🏻\nComo posso te ajudar?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "2d7e4783-ae49-433d-9a1f-1ead6df7669d",
      "name": "When chat message received",
      "webhookId": "e98af727-55a5-4ab5-9db6-814a3dcd9156"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f7c12f8-1aed-4675-90c0-f508e4fbaaa9",
              "name": "IdConversa",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "a22e9c8e-dfe5-41bc-a65c-e1a95f831b78",
              "name": "Mensagem",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "c98705de-3f7e-47cd-8796-d53276fd732d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XVKd4bYvqHrO_6cKqPOIs-yFOGNi4WZN1y62wO2yd8g",
          "mode": "list",
          "cachedResultName": "Curso N8N Gratuito - Tutorial #1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XVKd4bYvqHrO_6cKqPOIs-yFOGNi4WZN1y62wO2yd8g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Case 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XVKd4bYvqHrO_6cKqPOIs-yFOGNi4WZN1y62wO2yd8g/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IdConversa": "={{ $json.IdConversa }}",
            "Mensagem": "={{ $json.Mensagem }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "IdConversa",
              "displayName": "IdConversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mensagem",
              "displayName": "Mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "fac308e8-3a2c-4825-b79a-6e1f49a748d8",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.Mensagem }}",
        "options": {
          "systemMessage": "Você é um super agente de suporte, seja educado, engraçado e utilize emojis em suas respostas para deixar a conversa mais humanizada"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        0
      ],
      "id": "6c9c2f45-66d7-4329-b1f7-38749473f603",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        624,
        464
      ],
      "id": "13ea49ef-e791-4cb2-ab7d-4f47293d3d30",
      "name": "Groq Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.IdConversa }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        720,
        304
      ],
      "id": "1ee7728b-e19f-4062-b823-179e71800d9a",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        768,
        464
      ],
      "id": "62fa556d-b0aa-470e-9ae5-788df4dabb63",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        768,
        624
      ],
      "id": "2b2a8784-fc40-45d9-9979-d91209c1b1d1",
      "name": "Wikipedia"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        912,
        0
      ],
      "id": "b840202a-0fa2-434c-beea-eb4ce77195f7",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f1065068-61c2-4ee6-bd1f-d3ca986e44ca",
  "meta": {
    "instanceId": "cc25e9b21db0bb808ac72e9e199f51088e8cccafb234a76f1477c2cc5b261078"
  },
  "id": "FpfbxfP6bCh4IeaW",
  "tags": []
}