Assistente de Email - Discord.json
{
  "name": "Assistente de Email - Discord",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "5fe67674-9334-4d9e-a0bf-69f365e87413",
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        176,
        192
      ],
      "id": "f4aad86d-1c0c-499b-90b2-7c50e8b3e155",
      "name": "Groq Chat Model"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst raw = input.texto\n         || input.text\n         || input.output\n         || JSON.stringify(input);\n\nconst limpo = raw\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\ntry {\n  const resultado = JSON.parse(limpo);\n  const resumo = resultado.resumo || [];\n\n  return [{ json: {\n    remetente: resultado.remetente || \"\",\n    categoria: resultado.categoria || \"\",\n    resumo0: resumo[0] || \"\",\n    resumo1: resumo[1] || \"\",\n    resumo2: resumo[2] || \"\",\n    resposta_sugerida: resultado.resposta_sugerida || \"\"\n  }}];\n} catch (e) {\n  return [{ json: { erro: e.message, texto_original: limpo } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        0
      ],
      "id": "80dbdf10-a842-4796-858f-8c8ec80b50c8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=📩 EMAIL NOVO, JOÃO!\n👤 De: {{ $('Code in JavaScript').first().json.remetente }}\n📌 Assunto: {{ $('Gmail Trigger').first().json.Subject }}\n🏷️ Categoria: {{ $('Code in JavaScript').first().json.categoria }}\n📋 RESUMO:\n- {{ $('Code in JavaScript').first().json.resumo0 }}\n- {{ $('Code in JavaScript').first().json.resumo1 }}\n- {{ $('Code in JavaScript').first().json.resumo2 }}\n💬 SUGESTÃO DE RESPOSTA: {{ $('Code in JavaScript').first().json.resposta_sugerida }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        656,
        0
      ],
      "id": "89490e9a-e10b-49c8-8e0c-42531d58d3cf",
      "name": "Discord",
      "webhookId": "d374758c-c8a6-4ac3-80c5-dbfb78c7cd83"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analise o email abaixo e Retorne APENAS um JSON válido, sem markdown, sem backticks. Nos arrays, separe os itens com vírgula normalmente. Não use \\n dentro dos valores:\n\n{\n  \"remetente\": \"nome ou email de quem enviou\",\n  \"categoria\": \"parceria\" ou \"cliente\" ou \"spam\" ou \"outro\",\n  \"resumo\": [\"bullet 1\", \"bullet 2\", \"bullet 3\"],\n  \"resposta_sugerida\": \"texto curto, gentil e profissional em português\"\n}`\n\n`Email:\nAssunto: {{ $('Gmail Trigger').first().json.headers?.Subject ?? $('Gmail Trigger').first().json.Subject ?? 'sem assunto' }}\nDe: {{ $('Gmail Trigger').first().json.headers?.From ?? $('Gmail Trigger').first().json.From ?? 'remetente desconhecido' }}\nMensagem: {{ $('Gmail Trigger').first().json.snippet }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        176,
        0
      ],
      "id": "9a7fd547-12b7-46e5-a89a-b848f87a966b",
      "name": "Basic LLM Chain"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1da14077-f476-4d4c-8291-7b3cd00cc53c",
  "meta": {
    "instanceId": "cc25e9b21db0bb808ac72e9e199f51088e8cccafb234a76f1477c2cc5b261078"
  },
  "id": "2b4FIwKM23lOSvcF",
  "tags": []
}