Fluxo Assistente Email_Telegram.json
{
  "name": "Fluxo Assistente Email/Telegram",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "a07e0b7e-13d8-4073-85b2-a875a15a64a3",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "EtbA0FTHFUVlhwAk",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analise o email abaixo e responda APENAS em JSON válido, sem nenhum texto fora do JSON, sem backticks, sem markdown:\n\n{\n  \"remetente\": \"nome ou email de quem enviou\",\n  \"categoria\": \"parceria\" ou \"cliente\" ou \"spam\" ou \"outro\",\n  \"resumo\": [\"bullet 1\", \"bullet 2\", \"bullet 3\"],\n  \"resposta_sugerida\": \"texto curto, gentil e profissional em português\"\n}`\n\n`Email:\nAssunto: {{ $('Gmail Trigger').first().json.headers?.Subject ?? $('Gmail Trigger').first().json.Subject ?? 'sem assunto' }}\nDe: {{ $('Gmail Trigger').first().json.headers?.From ?? $('Gmail Trigger').first().json.From ?? 'remetente desconhecido' }}\nMensagem: {{ $('Gmail Trigger').first().json.snippet }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        176,
        0
      ],
      "id": "dcca3d81-d97c-4545-8d02-c56fde254f56",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        176,
        224
      ],
      "id": "74c6aee1-c5a4-4bfc-8297-4c5c1c904598",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "QRd7iutGqyOs1Ssl",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const texto = $input.first().json.text;\n\n// Remove backticks, markdown e espaços extras\nconst limpo = texto\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\ntry {\n  const resultado = JSON.parse(limpo);\n  return [{ json: resultado }];\n} catch (e) {\n  // Se falhar, retorna o texto bruto pra debug\n  return [{ json: { erro: e.message, texto_original: limpo } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        0
      ],
      "id": "21479998-a4e9-4628-9617-3bc733c84086",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "8099580676",
        "text": "=📩 EMAIL NOVO, JOÃO! \n👤 De: {{ $('Code in JavaScript').first().json.remetente }} \n📌 Assunto: {{ $('Gmail Trigger').first().json.Subject }} \n🏷️ Categoria: {{ $('Code in JavaScript').first().json.categoria }} \n📋 RESUMO: {{ $('Code in JavaScript').first().json.resumo.map(b => \"• \" + b).join(\"\\n\") }} \n💬 SUGESTÃO DE RESPOSTA: {{ $('Code in JavaScript').first().json.resposta_sugerida }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        0
      ],
      "id": "c4f18a53-1aa5-47d5-8daf-df81c48720bf",
      "name": "Send a text message",
      "webhookId": "e52f6f80-33bd-4a3e-9abd-f25a25a8e8e0",
      "credentials": {
        "telegramApi": {
          "id": "jmQLUdUltd77ygfT",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "79226521-f7d5-445b-8105-114146b98a48",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ff8b726837539100e64287bed35d4b723480ae83867bf49eef318799a71507b"
  },
  "id": "SLf1SRuvVc0jy8iO",
  "tags": []
}