Fluxo Assistente Email_Discord.json
{
  "name": "Fluxo Assistente Email/Discord",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "26fa8b34-adc7-466e-99ea-8907d9b97a79",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "EtbA0FTHFUVlhwAk",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        176,
        192
      ],
      "id": "427c1dae-6eb7-4d52-91ab-fd56a7fe1ccb",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "QRd7iutGqyOs1Ssl",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst raw = input.texto\n         || input.text\n         || input.output\n         || JSON.stringify(input);\n\nconst limpo = raw\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\ntry {\n  const resultado = JSON.parse(limpo);\n  const resumo = resultado.resumo || [];\n\n  return [{ json: {\n    remetente: resultado.remetente || \"\",\n    categoria: resultado.categoria || \"\",\n    resumo0: resumo[0] || \"\",\n    resumo1: resumo[1] || \"\",\n    resumo2: resumo[2] || \"\",\n    resposta_sugerida: resultado.resposta_sugerida || \"\"\n  }}];\n} catch (e) {\n  return [{ json: { erro: e.message, texto_original: limpo } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        0
      ],
      "id": "10354a4e-85eb-49fe-a1eb-3bc327a5ad8a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=📩 EMAIL NOVO, JOÃO!\n👤 De: {{ $('Code in JavaScript').first().json.remetente }}\n📌 Assunto: {{ $('Gmail Trigger').first().json.Subject }}\n🏷️ Categoria: {{ $('Code in JavaScript').first().json.categoria }}\n📋 RESUMO:\n- {{ $('Code in JavaScript').first().json.resumo0 }}\n- {{ $('Code in JavaScript').first().json.resumo1 }}\n- {{ $('Code in JavaScript').first().json.resumo2 }}\n💬 SUGESTÃO DE RESPOSTA: {{ $('Code in JavaScript').first().json.resposta_sugerida }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        656,
        0
      ],
      "id": "308f7dec-dfd0-490b-be53-609c2da83ca6",
      "name": "Discord",
      "webhookId": "d374758c-c8a6-4ac3-80c5-dbfb78c7cd83",
      "credentials": {
        "discordWebhookApi": {
          "id": "z0Kv6qldK8GE7pxL",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analise o email abaixo e Retorne APENAS um JSON válido, sem markdown, sem backticks. Nos arrays, separe os itens com vírgula normalmente. Não use \\n dentro dos valores:\n\n{\n  \"remetente\": \"nome ou email de quem enviou\",\n  \"categoria\": \"parceria\" ou \"cliente\" ou \"spam\" ou \"outro\",\n  \"resumo\": [\"bullet 1\", \"bullet 2\", \"bullet 3\"],\n  \"resposta_sugerida\": \"texto curto, gentil e profissional em português\"\n}`\n\n`Email:\nAssunto: {{ $('Gmail Trigger').first().json.headers?.Subject ?? $('Gmail Trigger').first().json.Subject ?? 'sem assunto' }}\nDe: {{ $('Gmail Trigger').first().json.headers?.From ?? $('Gmail Trigger').first().json.From ?? 'remetente desconhecido' }}\nMensagem: {{ $('Gmail Trigger').first().json.snippet }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        176,
        0
      ],
      "id": "74f6649b-8e93-4dab-b48b-273f1b0dc2cc",
      "name": "Basic LLM Chain"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dc817404-db59-44c2-a030-52f86635d398",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ff8b726837539100e64287bed35d4b723480ae83867bf49eef318799a71507b"
  },
  "id": "1u0BARKCo0r2yWcU",
  "tags": []
}