Telegram Dolar.json
{
  "name": "Telegram Dolar",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').first().json.message.text }}",
        "options": {
          "systemMessage": "Você é um assistente financeiro especializado em câmbio.\n\nQuando perguntarem sobre o dólar, use a ferramenta para buscar os dados e responda em português incluindo:\n- Valor atual em reais\n- Se subiu ou caiu (variação percentual)\n- Máxima e mínima do dia\n- Uma análise curta e direta sobre o momento\n\nSeja objetivo mas completo. Responda sempre em português."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        928,
        -288
      ],
      "id": "bbec17a2-aafe-41f8-8759-aa6c8f00316a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $('AI Agent').first().json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        -288
      ],
      "id": "59349fe1-0777-4fba-bb0f-ee16a82fcb07",
      "name": "Send a text message1",
      "webhookId": "0683bb57-d8ca-4fb0-a965-ccc4321be840"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        720,
        -288
      ],
      "id": "ea89ff61-38c5-4d6e-a65b-a4e633606874",
      "name": "Telegram Trigger",
      "webhookId": "17cedc22-6720-419b-abd7-d6c605205220"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        928,
        -112
      ],
      "id": "888fe54e-173c-41a3-a3da-fba8194434bd",
      "name": "Groq Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "dolar_bot"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1024,
        128
      ],
      "id": "e6c70648-4199-4175-940f-1881c506ac9f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "https://economia.awesomeapi.com.br/json/last/USD-BRL",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1072,
        -80
      ],
      "id": "b101c962-739d-4a39-93c8-a561faab0803",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2fdd6ea4-75bc-4e65-bf5a-8d2fd2ceb2b1",
  "meta": {
    "instanceId": "cc25e9b21db0bb808ac72e9e199f51088e8cccafb234a76f1477c2cc5b261078"
  },
  "id": "6ZaoGMq7WXFBSHvL",
  "tags": []
}